<!-- ~/website/views/partials/_agentList.ejs -->

<h2><%= title %></h2>
<ol id="<%= listId %>" class="agent-list">
  <% agents.forEach(agent => { %>
  <%- include('_agentRow', { agent }) %>
  <% }) %>
</ol>
