<!-- ~/website/views/partials/_agent-list.ejs -->

<h2><%= title %></h2>
<ol id="<%= listId %>" class="agent-list">
  <% agents.forEach(agent => { %>
  <%- include('_agent-row', { agent }) %>
  <% }) %>
</ol>
