<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <header id="site-header">
          <a href="#" target="">
            <img src="/images/icons/menu.svg" alt="Menu Icon" class="icon-size" />
            <span id="location-text">Start</span>
            <img src="/images/icons/vodafone_logo_red.svg" alt="Vodafone Logo" class="icon-size" id="site-logo" />
          </a>
        </header>
      </li>
      <li>
        <a href="#search">
          <img src="/images/icons/search.svg" alt="Search Icon" class="icon-size" />
          <span>Search</span>
        </a>
      </li>
      <li>
        <a href="#dashboard">
          <img src="/images/icons/dashboard_fill0.svg" alt="Dashboard Icon" class="icon-size" />
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#monitor">
          <img src="/images/icons/graph.svg" alt="Monitor Icon" class="icon-size" />
          <span>Monitor</span>
        </a>
      </li>
      <li>
        <a href="#skills">
          <img src="/images/icons/skills_fill0.svg" alt="Skills Icon" class="icon-size" />
          <span>Skills</span>
        </a>
      </li>
      <li>
        <a href="#agent_priority">
          <img src="/images/icons/agent_priority.svg" alt="Agent Priority Icon" class="icon-size" />
          <span>Agent Priority</span>
        </a>
      </li>
      <li>
        <a href="#log">
          <img src="/images/icons/log_fill0.svg" alt="Log Icon" class="icon-size" />
          <span>Log</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
