<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vodafone Retention Skill Manager</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="container">
    <aside class="sidebar">
      <nav>
        <ul>
          <li>
            <header id="site-header">
              <a href="#" target="">
                <img
                  src="../public/images/icons/menu.svg"
                  alt="Menu Icon"
                  class="icon-size"
                />
                <span id="location-text">Start</span>
                <img
                  src="../public/images/icons/vodafone_logo_red.svg"
                  alt="Vodafone Logo"
                  class="icon-size"
                  id="site-logo"
                />
              </a>
            </header>
          </li>
          <li>
            <a href="#search">
              <img
                src="../public/images/icons/search.svg"
                alt="Search Icon"
                class="icon-size"
              />
              <span>Search</span>
            </a>
          </li>
          <li>
            <a href="#dashboard">
              <img
                src="../public/images/icons/dashboard_fill0.svg"
                alt="Dashboard Icon"
                class="icon-size"
              />
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#monitor">
              <img
                src="../public/images/icons/graph.svg"
                alt="Monitor Icon"
                class="icon-size"
              />
              <span>Monitor</span>
            </a>
          </li>
          <li>
            <a href="#skills">
              <img
                src="../public/images/icons/skills_fill0.svg"
                alt="Skills Icon"
                class="icon-size"
              />
              <span>Skills</span>
            </a>
          </li>
          <li>
            <a href="#agent_priority">
              <img
                src="../public/images/icons/agent_priority.svg"
                alt="Agent Priority Icon"
                class="icon-size"
              />
              <span>Agent Priority</span>
            </a>
          </li>
          <li>
            <a href="#log">
              <img
                src="../public/images/icons/log_fill0.svg"
                alt="Log Icon"
                class="icon-size"
              />
              <span>Log</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <main>
      <section id="search" class="tab-content">
        <h1>Hello!</h1>
        <p>Search page<br /><br /><br /></p>
        <p>Agenten / Funktionen direkt suchen, später später</p>
      </section>

      <section id="dashboard" class="tab-content">
        <h1>Dashboard</h1>
        <p>Dashboard page<br /><br /><br /></p>
      </section>

      <section id="monitor" class="tab-content">
        <h1>Monitor</h1>
        <p>Monitor page<br /><br /><br /></p>
        <img src="../public/images/monitor_example.webp" />
      </section>

      <section id="skills" class="tab-content">
        <h1>Skills</h1>
        <p>Skills page<br /><br /><br /></p>
        <ul>
          <li>agent1</li>
          <li>agent2</li>
          <li>agent3</li>
        </ul>
        <!-- <ol id="agentList"></ol> -->
      </section>

      <section id="agent_priority" class="tab-content">
        <h1>Agent Priority</h1>
        <p>Agent priority page<br /><br /><br /></p>
        <button onclick="saveOrder()">Save Order</button>
        <ol id="agentList"></ol>
        <p>
          <br />(Am besten Websocket, damit alle Skillseiten synchron sind)<br />
          (Initialisierung mit HTML und nur fürs Verschieben JavaScript später)
        </p>
      </section>

      <section id="log" class="tab-content">
        <h1>Log</h1>
        <p>Log page<br /><br /><br /></p>
        <div id="log-window">Loading logs...</div>
      </section>
    </main>
    <script src="../>public/js/app.js"></script>
  </body>
</html>
